.circle-image {
    width: 300px; /* Increased size */
    height: 300px; /* Increased size */
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
